.btn {
  flex-basis: 80px;
  background: white;
  border: none;
  font-family: inherit;
  color: white;
  cursor: pointer;
}

.btn--go {
  background-color: #62016D;
}

.btn--remove {
  background-color: #910033;
}